 {{define "transactionsummary"}}
<section id="transactions">
    <div class="row">
        <div class="columns">
            <h1>Transactions &amp; Entries</h1>
			<ul class="tabs" data-tabs id="example-tabs">
				<li class="tabs-title is-active"><a href="#panFactoids" aria-selected="true">Factoids<span id="recent-factoid-total">(0)</span></a></li>
				<li class="tabs-title"><a href="#panEntries">Chain/Entry Commits <span id="recent-entry-total">(0)</span></a></li>
                <li class="tabs-title"><a href="#panDirectoryBlock">Last Directory Block - <span id="recent-directory-block"></span></a></li>
			</ul>
			<div class="tabs-content" data-tabs-content="example-tabs">
				<div class="tabs-panel is-active" id="panFactoids">
                <table id="traxList">
                    <thead>
                        <tr>
                            <th>Transaction ID</th>
                            <th>Total Input</th>
                            <th># Input Addresses</th>
                            <th># Output Addresses</th>
                        </tr>
                    </thead>
                    <tbody>
      
                    </tbody>
                </table>
				</div>
				<div class="tabs-panel" id="panEntries">
                <table id="traxList">
                    <thead>
                        <tr>
                            <th>Entry Hash</th>
                            <th>Chain ID</th>
                            <th>EC Cost</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
				</div>
                <div class="tabs-panel" id="panDirectoryBlock">
                <table id="traxList">
                    <thead>
                        <tr>
                            <th colspan="2">Last Directory Block Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>KeyMR:</td>
                            <td id="DBKeyMR"><a id="factom-search-link" type="dblock"></a></td>
                        </tr>
                        <tr>
                            <td>Body KeyMR:</td>
                            <td id="DBBodyKeyMR"></td>
                        </tr>
                        <tr>
                            <td>Full Hash:</td>
                            <td id="DBFullHash"></td>
                        </tr>
                        <tr>
                            <td>Timestamp:</td>
                            <td id="DBBlockTimestamp"></td>
                        </tr>
                        <tr>
                            <td>Block Height:</td>
                            <td id="DBBlockHeight"></td>
                        </tr>
                    </tbody>
                </table>
                </div>
			</div>
		</div>
	</div>
</section>
{{end}}