version: 2

jobs:

  build:
    working_directory: /go/src/github.com/FactomProject/factomd
    docker:
      - image: circleci/golang:1.10

    steps:
      - checkout

      - restore_cache:
          keys:
            - v2-factomd-go-build-cache-{{ checksum "glide.lock" }}

      - run:
          name: Get glide
          command: |
            go get -v github.com/Masterminds/glide
            cd $GOPATH/src/github.com/Masterminds/glide
            git checkout tags/v0.13.1
            go install
      - run:
          name: Get goveralls
          command: |
            go get github.com/mattn/goveralls
            cd $GOPATH/src/github.com/Masterminds/glide
            git checkout tags/v0.13.1
            go install
      - run:
          name: Get the dependencies
          command: |
            glide install
      - run:
          name: Build and install the executable
          command: go install -v

      - save_cache:
          key: v2-factomd-go-build-cache-{{ checksum "glide.lock" }}
          paths:
            - vendor

  test:
    working_directory: /go/src/github.com/FactomProject/factomd
    docker:
      - image: circleci/golang:1.10

    steps:
      - checkout

      - restore_cache:
          keys:
            - v2-factomd-go-build-cache-{{ checksum "glide.lock" }}

      - run:
          name: Get glide
          command: |
            go get -v github.com/Masterminds/glide
            cd $GOPATH/src/github.com/Masterminds/glide
            git checkout tags/v0.13.1
            go install
      - run:
          name: Get goveralls
          command: |
            go get github.com/mattn/goveralls
            cd $GOPATH/src/github.com/Masterminds/glide
            git checkout tags/v0.13.1
            go install
      - run:
          name: Get the dependencies
          command: |
            glide install
      - run:
          name: Build and install the executable
          command: go install -v

      - run:
          name: Run tests!
          no_output_timeout: 2400
          command: go test -v -vet=off $(glide nv)

    - run:
          name: Test Making a Leader 
          no_output_timeout: 2400
          command: cd engine/ && go test -run TestMakeALeader


      - save_cache:
          key: v2-factomd-go-build-cache-{{ checksum "glide.lock" }}
          paths:
            - vendor

  coveralls:
    working_directory: /go/src/github.com/FactomProject/factomd
    docker:
      - image: circleci/golang:1.10

    steps:
      - checkout

      - restore_cache:
          keys:
            - v2-factomd-go-build-cache-{{ checksum "glide.lock" }}

      - run:
          name: Get glide
          command: |
            go get -v github.com/Masterminds/glide
            cd $GOPATH/src/github.com/Masterminds/glide
            git checkout tags/v0.13.1
            go install
      - run:
          name: Get goveralls
          command: |
            go get github.com/mattn/goveralls
            cd $GOPATH/src/github.com/Masterminds/glide
            git checkout tags/v0.13.1
            go install
      - run:
          name: Get the dependencies
          command: |
            glide install
      - run:
          name: Build and install the executable
          command: go install -v

      - run:
          name: Go Test with Coverage
          no_output_timeout: 2400
          command: go test $(glide nv) -vet=off -v -cover -coverprofile=coverage.out

      - run:
          name: Coveralls!
          no_output_timeout: 2400
          command: goveralls -coverprofile=coverage.out -service=circle-ci -repotoken=$COVERALLS_TOKEN

#      - run:
#          name: Coveralls!
#          no_output_timeout: 2400
#          command: goveralls -v -flags "-vet=off" -ignore=$(paste -sd, .coverignore) -service=circle-ci -repotoken=$COVERALLS_TOKEN


      - save_cache:
          key: v2-factomd-go-build-cache-{{ checksum "glide.lock" }}
          paths:
            - vendor


  # Docker builds
  docker_build:
    working_directory: /go/src/github.com/FactomProject/factomd

    docker:
      - image: factominc/elixir_python

    steps:
      - checkout

      - setup_remote_docker:
          version: 17.06.0-ce

      # The main (only) thing we care about is caching the /vendor dir.
      #   Hence, checksumming glide.lock
      - restore_cache:
          keys:
            - v6-factomd-cache-{{ checksum "glide.lock" }}

      # Load the images if the cache hit
      - run:
          name: Load Docker image layer cache
          command: |
            set +o pipefail
            docker load -i /images/factomd-alpine.tar | true
            docker load -i /images/factomd.tar | true

      # Build the containers
      - run:
          name: Build the baseline images
          command: |
            docker build -t factomd-alpine -f Dockerfile.alpine .
            docker build -t factomd -f Dockerfile .

      # Push, depending on branch/tag
      - run:
          name: Push  master / develop to DockerHub
          command: |

           # Login to DockerHub
            docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

            # If there is a tag, use it
            if [ "$CIRCLE_TAG" != "" ]; then
              docker tag factomd factominc/factomd:${CIRCLE_TAG}
              docker push factominc/factomd:${CIRCLE_TAG}
              docker tag factomd-alpine factominc/factomd:${CIRCLE_TAG}-alpine
              docker push factominc/factomd:${CIRCLE_TAG}-alpine
            fi

            if [ "${CIRCLE_BRANCH}" == "master" ]; then

              # Tag master as latest
              docker tag factomd factominc/factomd:latest
              docker push factominc/factomd:latest
              docker tag factomd-alpine factominc/factomd:alpine
              docker push factominc/factomd:alpine
            fi

            if [ "${CIRCLE_BRANCH}" == "develop" ]; then

              # Tag develop as develop anyhow
              docker tag factomd factominc/factomd:develop
              docker push factominc/factomd:develop
              docker tag factomd-alpine factominc/factomd:alpine-develop
              docker push factominc/factomd:alpine-develop
            fi

            docker logout

      - run:
          name: Push images to AWS ECR
          command: |
            # Login to AWS ECR
            login="$(aws ecr get-login  --no-include-email --region $AWS_REGION)"
            ${login}

            # If there is a tag, use it
            if [ "$CIRCLE_TAG" != "" ]; then
              docker tag factomd ${AWS_REPO_BASE_URI}/factomd:${CIRCLE_TAG}
              docker push ${AWS_REPO_BASE_URI}/factomd:${CIRCLE_TAG}
              docker tag factomd-alpine ${AWS_REPO_BASE_URI}/factomd:${CIRCLE_TAG}-alpine
              docker push ${AWS_REPO_BASE_URI}/factomd:${CIRCLE_TAG}-alpine
            fi

            if [ "${CIRCLE_BRANCH}" == "master" ]; then

              # Tag master as latest
              docker tag factomd ${AWS_REPO_BASE_URI}/factomd:latest
              docker push ${AWS_REPO_BASE_URI}/factomd:latest
              docker tag factomd-alpine ${AWS_REPO_BASE_URI}/factomd:alpine
              docker push ${AWS_REPO_BASE_URI}/factomd:alpine
            fi

            if [ "${CIRCLE_BRANCH}" == "develop" ]; then

              # Tag develop as develop anyhow
              docker tag factomd ${AWS_REPO_BASE_URI}/factomd:develop
              docker push ${AWS_REPO_BASE_URI}/factomd:develop
              docker tag factomd-alpine ${AWS_REPO_BASE_URI}/factomd:alpine-develop
              docker push ${AWS_REPO_BASE_URI}/factomd:alpine-develop
            fi

            docker logout
      - run:
          name: Save the image cache
          command: |
            mkdir -p /images
            docker save -o /images/factomd-alpine.tar factomd-alpine $(docker history -q factomd-alpine |grep -v missing | grep -v none)
            docker save -o /images/factomd.tar factomd $(docker history -q factomd |grep -v missing | grep -v none)

      - save_cache:
          key: v6-factomd-cache-{{ checksum "glide.lock" }}
          paths:
            - /images

# The flow is
#    build
#      |
#      ---------- test
#                   |
#                   ---------- coveralls
#                   |
#                   ---------- docker_build
#
#

workflows:
  version: 2
  commit-workflow:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - test:
          filters:
            tags:
              only: /.*/
          requires:
            - build
      - coveralls:
          filters:
            tags:
              only: /.*/
          requires:
            - test
      - docker_build:
          filters:
            tags:
              only: /.*/
          context: org-global
          requires:
            - test

  scheduled-workflow:
    triggers:
      - schedule:
          cron: "20 5 * * *"
          filters:
            branches:
              only: develop
    jobs:
      - build
      - test:
          requires:
            - build
      - coveralls:
          requires:
            - test
      - docker_build:
          context: org-global
          requires:
            - test

notify:
  webhooks:
    - url: https://hooks.zapier.com/hooks/catch/2398659/i8hgb6/

