{{define "page"}}
    <script src="/js/details.js"></script>

    <section id="dataDump">
        <div class="row">
            <h1>Terminal data import</h1>
            <ul class="tabs" data-tabs id="tabs_details">
                <li class="tabs-title is-active"><a href="#summary">Summary</a></li>
                <li class="tabs-title"><a href= "#processlist">Process List</a></li>
                <li class="tabs-title"><a href= "#printmap">Print Map</a></li>
                <li class="tabs-title"><a href= "#servers">Servers</a></li>
                <li class="tabs-title"><a href= "#elections">Elections</a></li>
                <li class="tabs-title"><a href= "#connections">Connections</a></li>
                <li class="tabs-title"><a href= "#logsettings">Log Settings</a></li>
            </ul>

            <div id="tabs-content" class="tabs-content tabs-details" data-tabs-content="tabs_details">
                <div class="tabs-panel dump-container is-active" id="summary">
                    <img class="fullscreen-option absolute-fullscreen-option" src="img/fullscreen.svg"/>
                    <pre class="dump-data tabs-panel is-active" id="summaryData"></pre>
                </div>

                <div class="tabs-panel dump-container"  id="processlist">
                    <img class="fullscreen-option absolute-fullscreen-option" src="img/fullscreen.svg"/>
                    <pre class="dump-data tabs-panel is-active" id="processlistData"></pre>
                </div>

                <div class="tabs-panel dump-container" id="printmap">
                    <img class="fullscreen-option absolute-fullscreen-option" src="img/fullscreen.svg"/>
                    <pre class="dump-data tabs-panel is-active" id="printmapData"></pre>
                </div>

                <div class="tabs-panel dump-container" id="servers">
                    <ul class="tabs" data-tabs id="tabs_servers">
                        <li class="dump-tab tabs-title is-active"><a href= "#authorities">Authorities</a></li>
                        <li class="dump-tab tabs-title"><a href="#identities">Identities</a></li>
                        <li class="dump-tab tabs-title"><a href="#node">My Node</a></li>
                    </ul>
                    <div id="tabs-content" class="tabs-content dump-container" data-tabs-content="tabs_servers">
                        <img class="fullscreen-option absolute-fullscreen-option" src="img/fullscreen.svg"/>
                        <pre class="dump-data tabs-panel is-active" id="authorities"></pre>
                        <pre class="dump-data tabs-panel" id="identities"></pre>
                        <pre class="dump-data tabs-panel" id="node"></pre>
                    </div>
                </div>

                <div class="tabs-panel dump-container" id="elections">
                    <img class="fullscreen-option absolute-fullscreen-option" src="img/fullscreen.svg"/>
                    <pre class="dump-data tabs-panel" id="electionsData"></pre>
                </div>

                <div class="tabs-panel dump-container" id="connections">
                    <img class="fullscreen-option absolute-fullscreen-option" src="img/fullscreen.svg"/>
                    <pre class="dump-data tabs-panel is-active" id="connectionsData"></pre>
                </div>

                <div class="tabs-panel dump-container" id="logsettings">


                </div>
            </div>
        </div>
    </section>
{{end}}