{{define "page"}}
    <script src="/js/details.js"></script>

    <section id="dataDump">
        <div class="row">
            <h1>Terminal data import</h1>
            <ul class="tabs" data-tabs id="tabs_details">
                <li class="tabs-title is-active"><a href="#summary">Summary</a></li>
                <li class="tabs-title"><a href= "#processlist">Process List</a></li>
                <li class="tabs-title"><a href= "#printmap">Print Map</a></li>
                <li class="tabs-title"><a href= "#servers">Servers</a></li>
                <li class="tabs-title"><a href= "#elections">Elections</a></li>
                <li class="tabs-title"><a href= "#connections">Connections</a></li>
                <li class="tabs-title"><a href= "#logsettings">Log Settings</a></li>
            </ul>

            <div id="tabs-content" class="tabs-content" data-tabs-content="tabs_details">
                <div class="tabs-panel dump-container is-active" id="summary">
                    <img class="fullscreen-option absolute-fullscreen-option" src="img/fullscreen.svg"/>
                    <textarea disabled spellcheck="false" class="tabs-panel is-active" id="summaryData"></textarea>
                </div>

                <div class="tabs-panel dump-container"  id="processlist">
                    <img class="fullscreen-option absolute-fullscreen-option" src="img/fullscreen.svg"/>
                    <textarea disabled spellcheck="false" class="tabs-panel is-active" id="processlistData"></textarea>
                </div>

                <div class="tabs-panel dump-container" id="printmap">
                    <p>Third Player</p>
                    <p>Shane Warne</p>
                </div>

                <div class="tabs-panel dump-container" id="servers">
                    <p>Fourth Player</p>
                    <p>Shaun Pollock</p>
                </div>

                <div class="tabs-panel" id="elections">
                    <p>Five Player</p>
                    <p>Adam Gilchrist</p>
                </div>

                <div class="tabs-panel" id="connections">
                    <p>Five Player</p>
                    <p>Adam Gilchrist</p>
                </div>

                <div class="tabs-panel" id="logsettings">
                    <p>Five Player</p>
                    <p>Adam Gilchrist</p>
                </div>

            </div>

        </div>
    </section>
{{end}}