<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="/images/icon/favicon.ico">

    <title>Control Panel - Factom Foundation</title>

    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>

    <header>
        <div class="row">
            <div class="large-3 medium-5 columns logo">
                <a href="/"><img src="/images/factom-foundation_horizontal.svg" alt="Factom Foundation"></a>
            </div>
            <div class="large-6 medium-5 columns search factom-search-container">
                <div class="input-group">
                    <span class="input-group-label"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <input type="search" name="q" class="input-group-field" id="factom-search" placeholder="Search a height, address, transaction ID, etc..">
                    <div class="input-group-button">
                        <input type="submit" id="factom-search-submit" class="button dark" value="Go">
                    </div>
                </div>
                <div style="position:absolute;width:inherit">
                    <div class="factom-search-error callout alert text-center" style="overflow:hidden;display:none;">Sorry, your search didn't return any results.</div>
                </div>
            </div>
        </div>
    </header>

    <div class="row" style="margin-bottom: 5px;">
        <ul class="tabs tabs-control-panel" data-tabs id="example-tabs">
            <li class="tabs-title is-active" id="indexnav-main"><a aria-selected="true">Main Status Page</a></li>
            <li class="tabs-title tab-control-panel" id="indexnav-more"><a>More Detailed Node Information</a></li>
        </ul>
    </div>

    <section id="local">
        <div class="row">
            <div class="columns">
                <small><span id="server-status"></span></small>
                <h1 style="width:100%;"> {{ .FactomNodeName }} <small>{{ .Version }}</small><small style="float:right;">Git Build: {{ .BuildNumber }}</small></h1>
            </div>
        </div>
        <div class="row">
            <div class="large-3 medium-4 small-12 columns">
                <div class="metric">
                    <label for="nodeHeight">Your Block Height:</label>
                    <input type="text" id="nodeHeight" name="nodeHeight" disabled="true" value="-">
                </div>
                <div class="metric">
                    <label for="syncFirst">Node Sync Status (1st pass):</label>
                    <div id="syncFirst" class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="100 percent" aria-valuemax="100">
                            <span class="progress-meter" style="width: 100%">
                                <p id="testing" class="progress-meter-text">100% Synced (0 of 0)</p>
                            </span>
                    </div>
                </div>
                <div class="metric">
                    <label for="syncSecond">Node Sync Status (2nd pass):</label>
                    <div id="syncSecond" class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="84 percent" aria-valuemax="100">
                            <span class="progress-meter" style="width: 84%">
                                <p class="progress-meter-text">100% Synced (0 of 0)</p>
                            </span>
                    </div>
                </div>
                <div class="metric">
                    <div class="row">
                        <div class="small-6 columns">
                            <label for="serverfedcount">Federated</label>
                            <input type="text" id="serverfedcount" name="serverfedcount" disabled="true" value="-">
                        </div>
                        <div class="small-6 columns">
                            <label for="serveraudcount">Audit</label>
                            <input type="text" id="serveraudcount" name="" disabled="true" value="-">
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-8 medium-7 small-12 columns">
                <div class="metric">
                    <label for="peerList"><span id="totalPeerCount"></span> Connections:</label>
                    <table id="peerList">
                        <thead>
                        <tr>
                            <th id="peer-ip">IP <img width="10" class="sorting-img hide" id="peer-ip-sort-img" /></th>
                            <th>Status</th>
                            <th></th>
                            <th id="peer-duration">Duration <img width="10" class="sorting-img hide" id="peer-duration-sort-img" /></th>
                            <!--<th>Duration</th>-->
                            <th id="peer-sent">Sent <img width="10" class="sorting-img hide" id="peer-sent-sort-img" /></th>
                            <th id="peer-received">Received <img width="10" class="sorting-img hide" id="peer-received-sort-img" /></th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>MSGS(DATA)</td>
                            <td></td>
                            <td id="peerquality"></td>
                            <td></td>
                            <td id="up">0 (0 MB)</td>
                            <td id="down">0 (0 MB)</td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>

    </section>

    <section id="data">
        <div class="row">
            <div class="columns">
                <h1>Debug Event Messages</h1>
                <div id="messages"></div>
                <div id="channel-1" style="border: 1px solid green; min-height: 10px;"></div>
                <div id="general-events" style="border: 1px solid green; min-height: 10px;"></div>
                <div id="move-to-height" style="border: 1px solid green; min-height: 10px;"></div>
            </div>
        </div>
    </section>

</body>
</html>