{{define "header"}}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="img/icon/favicon.ico">
        <title>Control Panel - Factom Foundation</title>
        <link rel="stylesheet" href="css/foundation.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        
    <header>
        <div class="row">
            <div class="large-3 medium-5 columns logo">
                <a href="/"><img src="img/factom-foundation_horizontal.svg" alt="Factom Foundation"></a>
            </div>
            <div class="large-6 medium-5 columns search factom-search-container">
                <div class="input-group">
                    <span class="input-group-label"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <input type="search" name="q" class="input-group-field" id="factom-search" placeholder="Search a height, address, transaction ID, etc..">
                    <div class="input-group-button">
                        <input type="submit" id="factom-search-submit" class="button dark" value="Go">
                    </div>
                </div> 
                <div style="position:absolute;width:inherit">
                    <div class="factom-search-error callout alert text-center" style="overflow:hidden;display:none;">Sorry, your search didn't return any results.</div>
                </div>
            </div>
        </div>
    </header>
{{end}}
