{{define "chainhead"}}
	{{template "header"}}
	<!-- Body -->
	 <section id="explorer">
        <div class="row">
            <div class="columns">
            {{range $i, $ele := .}}
    			{{$k := eq $i 0}}
    			{{if $k}}
    				<small>Chainhead: <a id="factom-search-link" type="eblock">{{$ele.Content.Head}}</a></small>
        			 <h1>Chain <small>ID:({{$ele.Input}})</small><span style="float:right"> {{$ele.Content.Length}} Entries</span></h1>
        		{{else}}
        		 <table id="search-table">
                	<tbody>
                		<tr>
                			<td>Entry Hash:</td>
                			<td><a id="factom-search-link" type="entry">{{$ele.Input}}</a></td>
                		</tr>
                		<tr>
                			<td>External IDs:</td>
                			<td>
								<ul>
							    {{ range $ID := $ele.Content.ExtIDs }}
							        <li id="entry-external-id">{{$ID}}</li> 
							    {{ end }}
							</ul>
                			</td>
                		</tr>
                		<tr>
  							<td>Content:</td>
                            <td>
                                <span id="entry-content-summary">Content Summary: <a><small>Show All</small></a>
                                <br /> - Bytes: {{$ele.Content.ContentLength}}
                                <br /> - Content Hash: {{$ele.Content.ContentHash}}
                                <br /> - EC Cost : {{$ele.Content.ECCost}}
                                </span>   
                                <span id="entry-content-body" style="display:none;">All Content:&emsp;&emsp;&emsp;&emsp; <a><small>Hide All</small></a>
                                <br /> - Bytes: {{$ele.Content.ContentLength}}
                                <br /> - Content Hash: {{$ele.Content.ContentHash}}
                                <br /> - EC Cost : {{$ele.Content.ECCost}}
                                <hr>
                                {{$ele.Content.Content}}
                                </span>
                            </td>
                		</tr>
                	</tbody>
                </table>
        		{{end}}
            {{end}} 
           </div>
		</div>
	</section>
	<!-- End Body -->
	{{template "scripts"}}
    {{template "tools"}}
	{{template "footer"}}
{{end}}