{{define "eblock"}}
	{{template "header"}}
	<!-- Body -->
	 <section id="explorer">
        <div class="row">
            <div class="columns">   
                {{range $i, $ele := .Entries}}
        		 <table id="search-table">
                	<tbody>
                		<tr>
                			<td>Entry Hash:</td>
                			<td><a href="" id="factom-search-link" type="entry">{{$ele.Input}}</a></td>
                		</tr>
                		<tr>
                			<td>External IDs:</td>
                			<td>
								<ul>
							    {{ range $ID := $ele.Content.ExtIDs }}
							        <li id="entry-external-id">{{$ID}}</li> 
							    {{ end }}
							</ul>
                			</td>
                		</tr>
                		<tr>
  							<td>Content:</td>
                            <td>
                                <span id="entry-content-summary">Content Summary: <a><small>Show All</small></a><br />{{truncate $ele.Content.Content}}</span>
                                <span id="entry-content-body" style="display:none;">All Content: <a><small>Show Summary</small></a><br />{{$ele.Content.Content}}</span>
                            </td>
                		</tr>
                	</tbody>
                </table>
        		{{end}}
           </div>
		</div>
	</section>
	<!-- End Body -->
	{{template "scripts"}}
    {{template "tools"}}
	{{template "footer"}}
{{end}}