{{define "ectransaction"}}
	{{template "header"}}
	<!-- Body -->
	<section id="explorer">
		<div class="row">
			<div class="columns">
			  <h1>Entry Credit Transaction</h1>
                    <table id="search-table">
                          <tbody>
                             <tr>
                                 <td>
                                     Transaction Hash:
                                 </td>
                                 <td>
                                     {{.GetHash}}
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     Entry Hash:
                                 </td>
                                 <td>
                                     <a id="factom-search-link" type="entry">{{.GetEntryHash}}</a>
                                 </td>
                             </tr>
                         </tbody>
                     </table>
			</div>
		</div>
	</section>
	<!-- End Body -->
	{{template "scripts"}}
     {{template "tools"}}
	{{template "footer"}}
{{end}}