{{define "entryack"}}
	{{template "header"}}
	<!-- Body -->
	<section id="explorer">
		<div class="row">
			<div class="columns">
				<h1>Entry Transaction Status</h1>
                    <table>
                    	<tbody>
                    		<tr>
                    			<td>EntryHash:</td>
                    			<td><a id="factom-search-link" type="entry">{{.EntryHash}}</a></td>
                    		</tr>
                              <tr>
                                   <td>Commit Status:</td>
                                   <td>
                                        {{.CommitData.Status}}
                                   </td>
                              </tr>
                              <tr>
                                   <td>Entry Status:</td>
                                   <td>
                                        {{.EntryData.Status}}
                                   </td>
                              </tr>
                    	</tbody>
                    </table>
			</div>
		</div>
	</section>
	<!-- End Body -->
	{{template "scripts"}}
     {{template "tools"}}
	{{template "footer"}}
{{end}}