{{define "entry"}}
	{{template "header"}}
	<!-- Body -->
	<section id="explorer">
		<div class="row">
			<div class="columns">
				<h1>Entry Data <small>Height: {{.Content.Height}}</small></h1>
				<table>
					<tbody>
						<tr>
							<td>Entry Hash:</td>
							<td>{{.Input}}</td>
						</tr>
						<tr>
							<td>Chain ID</td>
							<td><a href="" id="factom-search-link" type="chainhead">{{.Content.ChainID}}</a></td>
						</tr>
						<tr>
							<td>External IDs:</td>
							<td>
								<ul>
								    {{ range $ID := .Content.ExtIDs }}
								        <li>{{$ID}}</li> 
								    {{ end }}
								</ul>
							</td>
						</tr>
						<tr>
							<td>Content:</td>
							<td>
								{{truncate .Content.Content}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<!-- End Body -->
	{{template "scripts"}}
	{{template "footer"}}
{{end}}