{{define "entry"}}
	{{template "header"}}
	<!-- Body -->
	<section id="explorer">
		<div class="row">
			<div class="columns">
				<h1>Entry Data</h1>
				<table>
					<tbody id="search-table">
						<tr>
							<td>Entry Hash:</td>
							<td>{{.Hash}}</td>
						</tr>
						<tr>
							<td>Chain ID</td>
							<td><a id="factom-search-link" type="chainhead">{{.ChainID}}</a></td>
						</tr>
						<tr>
							<td>External IDs:</td>
							<td>
								<ul>
								    {{ range $ID := .ExtIDs }}
								        <li id="entry-external-id">{{$ID}}</li> 
								    {{ end }}
								</ul>
							</td>
						</tr>
						<tr>
							<td>Content:<br /></td>
							<td>
                                <span id="entry-content-summary">Content Summary: <a><small>Show All</small></a>
                                <br /> - Bytes: {{.ContentLength}}
                                <br /> - Content Hash: {{.ContentHash}}
                                <br /> - EC Cost : {{.ECCost}}
                                </span>   
                                <span id="entry-content-body" style="display:none;">All Content:&emsp;&emsp;&emsp;&emsp; <a><small>Hide All</small></a>
                                <br /> - Bytes: {{.ContentLength}}
                                <br /> - Content Hash: {{.ContentHash}}
                                <br /> - EC Cost : {{.ECCost}}
                                <hr>
                                {{.Content}}
                                </span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<!-- End Body -->
	{{template "scripts"}}
	{{template "tools"}}
	{{template "footer"}}
{{end}}