{{define "FA"}}
	{{template "header"}}
	<!-- Body -->
	<section id="explorer">
		<div class="row">
			<div class="columns">
				<h1>Address Data</h1>
                    <table>
                    	<tbody>
                              <tr>
                                   <td>Address:</td>
                                   <td>{{.Address}}</td>
                              </tr>
                    		<tr>
                    			<td>Amount Available:</td>
                    			<td>{{.Balance}} Factoids</td>
                    		</tr>
                              <tr>
                                   <td>Type:</td>
                                   <td>Factoid</td>
                              </tr>
                    	</tbody>
                    </table>
			</div>
		</div>
	</section>
	<!-- End Body -->
	{{template "scripts"}}
     {{template "tools"}}
	{{template "footer"}}
{{end}}