{{define "FA"}}
	{{template "header"}}
	<!-- Body -->
	<section id="explorer">
		<div class="row">
			<div class="columns">
				<h1>Address Data</h1>
                    <table>
                    	<tbody>
                    		<tr>
                    			<td>Amount Available:</td>
                    			<td>{{.Content}}</td>
                    		</tr>
                    		<tr>
                    			<td>Type:</td>
                    			<td>Factoid</td>
                    		</tr>
                    		<tr>
                    			<td>History:</td>
                    			<td>2016-07-11 19:10:00 - 193.8503 from FA85asf89af8FSOI8r98ffa</td>
                    		</tr>
                    	</tbody>
                    </table>
			</div>
		</div>
	</section>
	<!-- End Body -->
	{{template "scripts"}}
     {{template "tools"}}
	{{template "footer"}}
{{end}}