{{define "facttransaction"}}
	{{template "header"}}
	<!-- Body -->
	<section id="explorer">
		<div class="row">
			<div class="columns">
			  <h1>Factoid Transaction</h1>
                    <table id="search-table">
                          <tbody>
                              <tr style="background-color:#202020"><td></td><td></td></tr>
                              <tr>
                                 <td colspan="2">                          
                                     <table>
                                         <td style="width:50%;text-align:center;">
                                         <h4>Inputs</h4>
                                         {{range $i, $in := .GetInputs}}
                                             <a id="factom-search-link" type="FA">{{AddressFACorrect $in.GetAddress.String}}</a> <br />
                                         {{end}}
                                         </td>
                                         <td style="text-align:center">
                                         <h4>Outputs</h4>
                                         {{range $i, $out := .GetOutputs}}
                                             <a id="factom-search-link" type="FA">{{AddressFACorrect $out.GetAddress.String}}</a> <br />
                                         {{end}}
                                         {{range $i, $out := .GetECOutputs}}
                                             <a id="factom-search-link" type="EC">{{AddressECCorrect $out.GetAddress.String}}</a><br />
                                         {{end}}
                                         </td>
                                     </table>
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     Transaction ID (txid):
                                 </td>
                                 <td>
                                     {{.GetSigHash}}
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     Transaction Hash:
                                 </td>
                                 <td>
                                     {{.GetHash}}
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     Total Input:
                                 </td>
                                 <td>
                                     {{TransactionAmountCorrect .TotalInputs}} Factoids
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     Total Factoid Output:
                                 </td>
                                 <td>
                                     {{TransactionAmountCorrect .TotalOutputs}} Factoids
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     Total EC Output:
                                 </td>
                                 <td>
                                     {{TransactionAmountCorrect .TotalECs}} Factoids
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     Transaction Status:
                                 </td>
                                 <td>
                                     {{.Status}}
                                 </td>
                             </tr>
                         </tbody>
                     </table>
			</div>
		</div>
	</section>
	<!-- End Body -->
	{{template "scripts"}}
     {{template "tools"}}
	{{template "footer"}}
{{end}}