{{define "factoidack"}}
	{{template "header"}}
	<!-- Body -->
	<section id="explorer">
		<div class="row">
			<div class="columns">
				<h1>Factoid Transaction Status</h1>
                    <table>
                    	<tbody>
                    		<tr>
                				<td>Transaction ID:</td>
                                <td><a id="factom-search-link" type="facttransaction">{{.TxID}}</a></td>
                            </tr>
                            <tr>
                				<td>Status</td>
                                <td>{{.Status}}</td>
                            </tr>
                    	</tbody>
                    </table>
			</div>
		</div>
	</section>
	<!-- End Body -->
	{{template "scripts"}}
    {{template "tools"}}
	{{template "footer"}}
{{end}}