{{define "fblock"}}
	{{template "header"}}
	<!-- Body -->
	 <section id="explorer">
        <div class="row">
            <div class="columns"> 
                <h1>Factoid Block</h1>
                <table>
                    <tbody>
                        <tr>
                            <td>Body MR:</td>
                            <td>{{.BodyMR}}</td>
                        </tr>
                        <tr>
                            <td>Height:</td>
                            <td>{{.DBHeight}}</td>
                        </tr>
                        <tr>
                            <td>Exchange Rate:</td>
                            <td>{{.ExchRate}}</td>
                        </tr>
                        <tr>
                            <td>Previous Factoid Block:</td>
                            <td>
                                <a href="" id="factom-search-link" type="ablock">{{.PrevKeyMR}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>Transactions Contained in Factoid Block </h3> 
                {{range $i, $ele := .Transactions}}
                {{if $ele.GetInputs}}
                 <table id="search-table">
                     <tbody>
                         <tr style="background-color:#202020"><td></td><td></td></tr>
                         <tr>
                            <td colspan="2">                          
                                <table>
                                    <td style="width:50%;text-align:center;">
                                    <h4>Inputs</h4>
                                    {{range $i, $in := $ele.GetInputs}}
                                        {{AddressFACorrect $in.GetAddress.String}} <br />
                                    {{end}}
                                    </td>
                                    <td style="text-align:center">
                                    <h4>Outputs</h4>
                                    {{range $i, $out := $ele.GetOutputs}}
                                        {{AddressFACorrect $out.GetAddress.String}} <br />
                                    {{end}}
                                    {{range $i, $out := $ele.GetECOutputs}}
                                        {{AddressECCorrect $out.GetAddress.String}} <br />
                                    {{end}}
                                    </td>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Total Input:
                            </td>
                            <td>
                                {{TransactionAmountCorrect .TotalInputs}} Factoids
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Total Factoid Output:
                            </td>
                            <td>
                                {{TransactionAmountCorrect .TotalOutputs}} Factoids
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Total EC Output:
                            </td>
                            <td>
                                {{TransactionAmountCorrect .TotalECs}} Factoids
                            </td>
                        </tr>
                    </tbody>
                </table>
                {{end}}
                {{end}}
           </div>
		</div>
	</section>
	<!-- End Body -->
	{{template "scripts"}}
    {{template "tools"}}
	{{template "footer"}}
{{end}}