{{define "notfound"}}
	{{template "header"}}
	<!-- Body -->
	<section id="explorer">
		<div class="row">
			<div class="columns">
				<h1>Not Found</h1>
				<p>It seems there has been an error while trying to complete that search. The item being searched was not found, if you navigated to this page by clicking a link, try inputting the search term into the search bar above. If that fails, the search may have failed due to factomd being down or the item not exisiting in the database.</p>
				<p>Search term: <b>{{.}}</b></p>
			</div>
		</div>
	</section>
	<!-- End Body -->
	{{template "scripts"}}
	{{template "footer"}}
{{end}}